<!DOCTYPE html>
<html>
  <head>
    <title> BUZY </title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="/public/images/favicon.png">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/public/css/index.css">
  </head>

  <body>
    <header class="navbar navbar-static-top bs-docs-nav header" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../" class="navbar-brand" id='logo'>BUZY</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login" id = "logsign">Login</a></li>
            <li><a href="/signup" id = "logsign">Signup</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="center jumbotron">
        <h1 id="title">
          BUZY
        </h1>
        <h2>
          The place to go when you want to know what's busy and whats buzzing on campus
        </h2>
        <h3>
          BU's busyness score: 
          <span style="color: #FF9933;">
            41
          </span>
        </h3>
        <a class="btn btn-large btn-primary" href="/places">Places</a> <a class="btn btn-large btn-primary" href="/vote">Vote</a>
      </div>

      <div id="outside-container">
        <div class="footer">
          <small>
            Created at <a href="http://make.bu.edu">Make_BU</a> 2014
          </small>
        </div>
      </div>
    </div>
  </body>
</html>

