html,body{
  height:100%;
}

.header{
  background-color:#CC0000;
  font-color: white;
}

body{
  font-family: 'Roboto', sans-serif;
}

#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 14px;
  font-weight: bold;
}

#logsign{
  color:#fff;
  text-transform: uppercase;
}

#logsign:hover{
  background-color:#CC0000;
}

.center{
  text-align:center;
}

#title{
  color:#CC0000;
}

.footer{
  float:right;
}

.search{
  padding:6px;
  font-size:22px;
}

.search:focus{
  outline:none;
}

.buzzy1{
  font-size:26px;
}

.place_name{
  font-size:22px;
  color: #505050;
}

.fa-search:hover{
  cursor:pointer;
}

.fa-search{
  position: relative;
  top: -2px;
  padding: 22px;
  color: white;
  padding-top: 9px;
  padding-bottom: 13px;
  background-color: #CC0000;
  font-size: 25px;
}

.results{
  background-color:#F1F1F1;
  height:100%;
}

.card{
  margin-top:12px;
  padding:6px;
  margin:12px;
  background-color:white;
  height:300px;
  max-width:400px;
}

.place_address, .last_update{
  color: #919191;
}

.person_dark{
  color: #92C3D2
}

.person_light{
  color: #d1d1d1;
}

